// Color palette
$color-pastel-aqua: #a8dadc;
$color-pastel-mint: #f1faee;
$color-pastel-coral: #ffddd2;
$color-pastel-lavender: #cdb4db;
$color-lapis: #05668d;
$color-black: #28262c;
$color-white: #ffffff;

// Font sizes
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

// Shadows
$shadow-card: 0 0 4px rgba(40, 38, 44, 0.36);
